tmp/
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/lastfailed
**/.idea/misc.xml
**/.idea/modelica_scripts.xml
**/.idea/modules.xml
**/.idea/borrame.xml
**/.idea/python.iml
**/.idea/dictionaries
**/.mod
